@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1>Welcome to site "Foodstuffs"</h1>
    <h3>Current localhost: @System.Net.Dns.GetHostName()</h3>
    <h4>_____________________________________________________</h4>
    <h4>Docker image <a href="https://cloud.docker.com/repository/registry-1.docker.io/vitalidn/demo2_lb">Load Balancer</a> on Docker-Hub. </h4>
    <h4>Docker image <a href="https://cloud.docker.com/repository/registry-1.docker.io/vitalidn/demo2_web">WebApplication</a> on Docker-Hub .</h4>
    <h4>Docker image <a href="https://cloud.docker.com/repository/registry-1.docker.io/vitalidn/demo2_mssql">MSSQL</a> on Docker-Hub.</h4>
    <h4>The Project <a href=" https://github.com/vitalidn/DP-157-Demo2.git">source</a> on Git-Hub.</h4>
    <h4>__________________________________</h4>
    <h2>For go to page Foodstuffs click on here <a href="~/Foodstuffs">this</a>.</h2>



</div>
